@sixthsense:registry=https://artifacts-observability.sixthsense.rakuten.com/api/v4/projects/3/packages/npm/
//artifacts-observability.sixthsense.rakuten.com/api/v4/projects/3/packages/npm/:_authToken=2Fr2r7n4F41KAs9DF1-4
